webapp2==2.5.2
wsgiref==0.1.2
requests==2.3.0
py2app==0.7.3
Flask==1.0
Flask-Babel==0.9
Flask-HTTPAuth==2.2.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OpenID==1.2.3
Flask-RESTful==0.2.12
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.2
Flask-WhooshAlchemy==0.56
Jinja2==2.7.3
urllib3==1.9.1
gunicorn==19.1.1
MarkupSafe==0.23
cssselect==0.9.1
pyparsing==2.0.1