<doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>ShopLikes</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=550, initial-scale=1">

	    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='css/demo.css')}}"/>
	    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='css/jquery.flipster.css')}}"/>
	    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='css/flipsternavtabs.css')}}"/>
	</head>

	<body>
		<div id="navigationBar" align="center">
			<fb:login-button id="status" scope="public_profile,email,user_likes" onlogin="checkLoginState();"></fb:login-button>
		</div>	
		<div id="Main-Content">
			<div class="Container">
				<div class="flipster">
					<ul>
			  			<li>
			  				<a href="demo.html" class="Button Block">
			  				<h1>All Features</h1>
			  				<p>Showcase of all available features in both the Coverflow and Carousel styles</p>
			  				</a>
			  			</li>
		  				<li>
		  					<a href="demo2.html" class="Button Block">
			  				<h1>Basic Setup</h1>
			  				<p>The bare minimum code needed to implement Flipster</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="demo3.html" class="Button Block">
			  				<h1>Carousel</h1>
			  				<p>Roundabout carousel style!</p>
			  				</a>
		  				</li>
		  				<li>
		  					<a href="demo4.html" class="Button Block">
			  				<h1>Coverflow with Tab Navigation</h1>
			  				<p>Example of tab navigation using the <code>enableNav</code> option</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="demo5.html" class="Button Block">
			  				<h1>Carousel with Tab Navigation</h1>
			  				<p>Example of tab navigation using the <code>enableNav</code> option</p>
			  				</a>
		  				</li>
		  			</ul>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.flipster.js')}}"></script>
		<script type="text/javascript">
		<!--

			$(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });

		-->
		</script>
		<script>
		  // This is called with the results from from FB.getLoginStatus().
		  function statusChangeCallback(response) {
		    console.log('statusChangeCallback');
		    console.log(response);
		    // The response object is returned with a status field that lets the
		    // app know the current login status of the person.
		    // Full docs on the response object can be found in the documentation
		    // for FB.getLoginStatus().
		    if (response.status === 'connected') {
		      // Logged into your app and Facebook.
		      testAPI();
		    } else if (response.status === 'not_authorized') {
		      // The person is logged into Facebook, but not your app.
		      document.getElementById('status').innerHTML = 'Please log ' +
		        'into this app.';
		    } else {
		      // The person is not logged into Facebook, so we're not sure if
		      // they are logged into this app or not.
		      document.getElementById('status').innerHTML = 'Please log ' +
		        'into Facebook.';
		    }
		  }

		  // This function is called when someone finishes with the Login
		  // Button.  See the onlogin handler attached to it in the sample
		  // code below.
		  function checkLoginState() {
		    FB.getLoginStatus(function(response) {
		      statusChangeCallback(response);
		    });
		  }

		  window.fbAsyncInit = function() {
		  FB.init({
		    appId      : '1485658648363694',
		    cookie     : true,  // enable cookies to allow the server to access 
		                        // the session
		    xfbml      : true,  // parse social plugins on this page
		    version    : 'v2.1' // use version 2.1
		  });

		  // Now that we've initialized the JavaScript SDK, we call 
		  // FB.getLoginStatus().  This function gets the state of the
		  // person visiting this page and can return one of three states to
		  // the callback you provide.  They can be:
		  //
		  // 1. Logged into your app ('connected')
		  // 2. Logged into Facebook, but not your app ('not_authorized')
		  // 3. Not logged into Facebook and can't tell if they are logged into
		  //    your app or not.
		  //
		  // These three cases are handled in the callback function.

		  FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
		  });

		  };

		  // Load the SDK asynchronously
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));

		  // Here we run a very simple test of the Graph API after login is
		  // successful.  See statusChangeCallback() for when this call is made.
		  function testAPI() {
		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me/likes?fields=id,name,picture,created_time,category', function(response) {
		      console.log(response);
		    var innerHTML = '<ul>';
		    for (var i = 0; i < response.data.length; i++) {
		    	var like = response.data[i];
		    	innerHTML += '<li><img src="'+ like.picture.data.url +'"></img></li>'
		    }
		    innerHTML += '</ul>';
		    console.log(innerHTML);
		      document.getElementById('flipster').innerHTML = innerHTML;
		    });
		  }
		</script>

	</body>
</html>